<div class="container mt-5">
	<h2>Inventario de <%= @group.nombre %></h2>
	<div class="row">
		<div class="col-md-3 ml-auto"><h3>Inv total: $ <%= @total %></h3></div>
	</div>
	<div class="row mt-5">
		<%= render "form"%>
		<%= link_to new_product_path,{remote: true, class: "btn btn-primary mb-4 shadow"}  do %>Agrear producto<%end%>
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Producto</th>
							<th>Cantidad</th>
							<th>precio</th>
							<th>valor total</th>
						</tr>
					</thead>
					<tbody><%= render @inventories %></tbody>
				</table>
			</div>
		</div>
	</div>
</div>
