<h1>Productos</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Existencia</th>
      <th>P costo</th>
      <th>P minimo</th>
      <th>P venta</th>
      <th>Total costo</th>
      <th>V precio venta</th>
      <th>Gondola</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.nombre %></td>
        <td><%= product.existencia %></td>
        <td><%= product.p_costo %></td>
        <td><%= product.p_minimo %></td>
        <td><%= product.p_venta %></td>
        <td><%= product.total_costo %></td>
        <td><%= product.v_precio_venta %></td>
        <td><%= product.gondola %></td>
        <td><%# link_to 'Show', product %></td>
        <td><%= link_to 'Editar', edit_product_path(product) %></td>
        <td><%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Nuevo Producto', new_product_path %>
