<!DOCTYPE html>
<html lang="es-CO">
  <head>
    <title>FarmaReina</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%- if signed_in? %>
    <style>
      #toast-container {
        top: 80px;
      }
    </style>
    <%end%>
  </head>
  <body>
    <%= yield %>
    <%= toastr_flash %>

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script> <!-- Jquery DataTables -->
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script> <!-- DataTables Boostrap js -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"> <!-- DataTables Boostrap css -->
  </body>
</html>
