<!DOCTYPE html>
<html lang="es-CO">
  <head>
    <%- if signed_in? %>
    <title><%= @title %></title>
    <%else%>
    <title>Farmareinak</title>
    <%end%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8"/>
    <meta name="keywords" content="FarmaReinak, faramareina, medicamentos">
    <meta name="description" content="Sistema de registro e inventario"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property=”og:site_name” content="Farmareinak"/>
    <meta property="og:url" content="https://faramareina.herokuapp.com" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js'%>
    <%= javascript_include_tag 'https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js'%>
    <%- if signed_in? %>
    <style>
      #toast-container {
        top: 80px;
      }
    </style>
    <%end%>
  </head>
  <body>
    <% if signed_in?%>
    <%= render "partials/nav"%>
    <%end%>
    <%= yield %>
    <%= toastr_flash %>
    <%= render "partials/footer" %>
  </body>
</html>
